<div class="container">
  <h1>App Inventor ERP</h1>
  <br>
  <div *ngIf="(registros$ | async) as registros">
    <div>
      <button class="btn btn-success" (click)="exportar(registros)">
        Exportar
      </button>
    </div>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Abreviatura</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of registros; let i=index">
          <th>{{ i  + 1}}</th>
          <td>{{ item.nombre }}</td>
          <td>{{ item.abreviatura }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>